.main {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 0 8px;
  position: relative;
}

.active {
  background-color: var(--bg-active);
  border-radius: 4px;
}

.label {
  display: flex;
}

.labelActive {
  text-decoration: underline;
  text-decoration-color: red;
}

.subMenuCtn {
  background: var(--foreground);
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 32px;
  width: 170px;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

@media (max-width: 768px) {
  .main {
    align-items: flex-start;
    display: flex;
    width: 170px;
  }

  .subMenuCtn {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    left: 170px;
    top: 0;
  }
}