.main {
  align-items: center;
  background-color: rgba(239, 238, 232);
  color: #171717;
  display: flex;
  height: 80px;
  justify-content: center;
}

.navLogo {
  margin: 0 8px;
  max-height: 72px;
  max-width: 72px;
  padding: 8px;
}

.navItem {
  margin: 0 8px
}