.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
}

.content {
  max-width: 1360px;
  width: 1360px;
}

@media (max-width: 768px) {
  .content {
    margin: 64px 0 0 0;
    width: 100vw;
  }
}