.main {
  display: block;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .main {
    display: flex;
  }
}