.main {
  color: var(--text-active);
  display: flex;
  flex-direction: column;
  font-family: var(--font-oswald-sans);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0%;
  line-height: 141%;
  margin: 80px 0 24px 80px;
  width: 100%;
}

.hrCtn {
  display: flex;
  flex-direction: row;
}

.hrRed {
  background: var(--text-active);
  border: 0;
  display: flex;
  height: 5px;
  width: 80px;
}

.hrGreen {
  background: var(--background);
  border: 0;
  display: flex;
  height: 5px;
  margin-left: 4px;
  width: 20px;
}

.altHrGreen {
  background: var(--white);
  border: 0;
  display: flex;
  height: 5px;
  margin-left: 4px;
  width: 20px;
}

.alt {
  color: var(--foreground)
}

.contornoImg {
  height: 5px;
  width: 109px;
}

.text {
  margin: 16px 0;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    font-size: 40px;
    margin: 80px 16px 0;
    width: calc(100% - 32px);
  }


.text {
  margin: 8px 0;
}
}
