.main {
  color: var(--text-active);
  display: flex;
  flex-direction: column;
  font-family: var(--font-oswald-sans);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0%;
  line-height: 141%;
  margin: 80px 0 24px 80px;
  width: 100%;
}

.alt {
  color: var(--foreground)
}

.contornoImg {
  height: 5px;
  width: 109px;
}

.text {
  margin: 16px 0;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    font-size: 40px;
    margin: 80px 16px 0;
    width: calc(100% - 32px);
  }


.text {
  margin: 8px 0;
}
}
