.main {
  align-items: center;
  display: flex;
  margin: 8px;
  padding: 0 8px;
}

.active {
  background-color: var(--bg-active);
  border-radius: 4px;
  color: var(--text-active);
}

@media (max-width: 768px) {
  .main {
    display: flex;
  }
}