.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.fotoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  justify-content: center;
  padding: 20px 0;
}

.fotoItem {
  display: flex;
  height: 300px;
  overflow: hidden;
  width: 300px;
}

@media (max-width: 768px) {
  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .title {
    margin-left: -16px;
  }

  .fotoContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 16px;
    gap: 12px;
  }

  .fotoItem {
    height: 160px;
    width: 160px;
  }
}
