.main {
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  height: 72px;
  justify-content: flex-start;
  /* margin: 0 0 0 64px; */
  position: fixed;
  width: 100%;
}

.menuButton {
  display: none;
}

.activePage {
  display: none;
}

.menu {
  display: flex;
  margin: 0 80px;
}

@media (max-width: 768px) {
  .main {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: flex-start;
    margin: 0;
  }

  .menuButton {
    align-items: center;
    display: flex;
    font-size: 32px;
    height: 20px;
    justify-content: center;
    margin: 0 0 6px 16px;
  }

  .menuLogo {
    display: none;
  }

  .activePage {
    display: flex;
    margin: 0 8px;
  }

  .menu {
    display: flex;
    margin: 0;
  }

  .open {
    background: var(--foreground);
    border-radius: 4px;
    color: var(--background);
    display: flex !important;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 66px;
  }

  .closed {
    display: none !important;
  }

}