.main {
  align-items: center;
  background: var(--foreground);
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.title {
  align-self: flex-start;
  display: flex;
}

.imgContentCtn {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 960px;
}

.imgLogoPB {
  height: auto;
  width: 320px;
}

.navContentCtn {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.navTitle {
  display: flex;
  flex-direction: row;
}

.navItem {
  color: var(--text-active);
  cursor: pointer;
  font-family: var(--font-oswald-sans);
  font-size: 24px;
  font-weight: 400;
  line-height: 141%;
  padding: 0 8px;
}

.navItem:first-child {
  padding-left: 0;
}

.active {
  background-color: var(--bg-active);
  text-decoration: underline;
  text-decoration-color: var(--text-active);
}

.contentTitle {
  display: flex;
  color: var(--text);
  flex-direction: column;
  margin-top: 40px;
}

.title {
  font-family: var(--font-oswald-sans);
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .main {
    display: flex;
  }

  .imgContentCtn {
    width: 100%;
  }

  .imgLogoPB {
    display: none;
  }

  .navContentCtn {
    margin: 16px
  }

  .navItem {
    font-size: 20px;
  }

  .title {
    font-size: 24px;
  }
}